button.accordion {
    background-color: #555;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    box-shadow: 0px 8px 16px 0px black;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

.navbar-header img{

    width: 80px;
    padding-top: 12px;
    padding-right: 15px; 
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: grey;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

#mySidebar{
    background-color: grey;
    box-shadow: 8px 0px 16px 0px grey;
}

#header{
    box-shadow: 0px 8px 16px 0px black;
}